.image-thumbnail{
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition : transform 350ms;

    .image-wrapper{
        flex-grow: 1;
        cursor: pointer;

        img{
            width: 100%;
            max-height: 200px;

        }
    }

    .image-info{
        min-height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.25em 0.25em 0.5em 0.25em;

        .user{
            text-align: center;

        }

        table{
            cursor: default;
            user-select: none;

            tr{
                td:nth-child(1),
                td:nth-child(3){
                    text-align: right;
                    
                    i{
                        margin-right: 0.25em;
                        
                        &.fa-eye,
                        &.fa-download{
                            transition: opacity 0.25s;
                            opacity: 0.5;
                            cursor: pointer;

                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover{
        transform: scale(1.025);

    }
}
