#gallery-menu-view{
    grid-column: 1;
    grid-row: 1;
    
    display: grid;
    grid-template-rows: repeat(9, [col-start] minmax(100px, 130px) [col-end]);
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    height: 100vh;
    background-color: white;
    width: 300px;
    z-index: 5;
    
    transition: left 0.5s;
    left: 0;

    .menu-option-wrapper{
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
        margin: 1em;
        padding: 0.5em;
        position: relative;
        
        .menu-option-text{
            position: absolute;
            z-index: 10;
            top: -10px;
            font-size: 1.05em;
            
        }

        .menu-option{
            padding: 0.5em 1em;
            background: #ffffff;

            select, input[type="text"]{
                width: 100%;
                border: 0;
                border-bottom: 1px solid #d3d3d3;
                padding: 5px;
                cursor: pointer;
                transform: scale(1);
                transition: box-shadow 0.4s, transform 0.4s;
                font-size: 1.1em;

                &:focus{
                    outline: none;
        
                }
        
                &:hover{
                    box-shadow: 0 6px 10px -6px #d3d3d3;
                    transform: scale(1.01);
        
                }
            }

            input[type="text"]{
                cursor: text;

            }

            &.menu-radio-group{

                > div{
                    margin: 0 0.5em;
                }
            }
        }
    }

    @media(max-width : 900px){
        animation: hide-menu 0.5s;
        position: absolute;
        left: -300px;

    }

    @media(min-width : 900px){
        animation: show-menu 0.5s;
        position: initial;

    }

    @keyframes hide-menu {

        from {
            left: 0;

        }

        to {
            left: -400px;

        }
    }

    @keyframes show-menu {

        from {
            left: -400px;
            position: absolute;

        }

        to {
            left: 0;
            position: absolute;
        }
    }
}