@import './fonts.less';
@import './GalleryMenuView.less';
@import './gallery-view/GalleryView.less';

body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    
    *, *:before, *:after {
        box-sizing: border-box;
    }

    .fab-toggle-menu{
        display: flex;
        align-items: center;
        place-content: center;
        position: fixed;
        width: 55px;
        height: 55px;
        bottom: 20px;
        right: 25px;
        border-radius: 49%;
        background-color: rgba(216, 216, 216, 0.9);
        box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.75);
        transform: scale(1);
        transition: background-color 0.25s, box-shadow 0.25s, transform 0.25s;
        cursor: pointer;

        .icons{
            position: relative;

            .fa-bars{
                color: rgba(100,100,100,0.9);

            }

            .fa-eye,
            .fa-eye-slash{
                position: absolute;
                top: -4px;
                right: -7px;
                font-size: 0.9em;
                transition: opacity .25s;

            }

            .fa-eye-slash{
                opacity: 0;

            }
        }

        &.is-hidden-menu{
            
            .fa-eye-slash{
                opacity: 1;

            }

            .fa-eye{
                opacity: 0;

            }
        }

        &:hover{
            box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.9);
            background-color: rgba(216, 216, 216, 1);
            transform: scale(1.05);

        }
    }
}
